{% extends "base.html" %}

{% block title %}Documentation - INCLASS AI{% endblock %}
{% block page_title %}Documentation{% endblock %}
{% block page_subtitle %}System documentation and guides{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>System Documentation</h4>
                <p class="text-muted">Documentation will be available soon.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}