{% extends "base.html" %}

{% block title %}Tutorials - INCLASS AI{% endblock %}
{% block page_title %}Tutorials{% endblock %}
{% block page_subtitle %}Learn how to use the system effectively{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Video Tutorials</h4>
                <p class="text-muted">Tutorial videos coming soon.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}